.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 0 auto;
}

.btn-custom {
  background-color: #f54c4c;
  color: white;
  font-size: 20px;
  width: 10em;
  text-align: center;
}

.btn-custom:hover {
  color: white;
  box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -moz-box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -webkit-box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -khtml-box-shadow: 1px 1px 1px rgb(30, 30, 30) 30;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.03);
}
.zoom1 {
  transition: transform 0.3s;
  z-index: 3;
  position: relative;
}

.zoom1:hover {
  transform: scale(1.1);
  z-index: 3;
  position: relative;
}

/* Create overlay for img */
.transparent-bg {
  position: relative;
}
.transparent-bg:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
}
