.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  width: 500px;
  height: 550px;
  margin: 0 auto;
  margin-top: 5em;
  padding-top: 3em;
}

.btn-custom {
  background-color: #f54c4c;
  color: white;
  font-size: 20px;
  width: 10em;
  text-align: center;
}

.btn-custom:hover {
  color: white;
  box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -moz-box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -webkit-box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -khtml-box-shadow: 1px 1px 1px rgb(30, 30, 30)30;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.03);
}
